* {
  scrollbar-width: thin;
  scrollbar-color: #aaaaaa #ffffff;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff00;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff00;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #aaaaaa;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #717171;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
